{% load block_tags %}
{% if msg %}
<script>
    alert('{{msg}}')
</script>
{% endif %} {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/welcome.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/events.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/navigation-bar.css' %}">

<html lang="en"> 

{% include "header.html" %}

<body>

    {% include "navigation_bar.html" %}

    <div class="main">
        {% block content%}{% endblock %}
    </div>
</body>

</html>