{% load navbar_tags %} {% if msg %}
<script>
    alert('{{msg}}')
</script>
{% endif %} {% load static %}

<html lang="en">

{% include "header.html" %}

<body>   
    <div id="nav-bar">
        {% navigation_bar %}
    </div>

    <div class="main">
        {% if messages %}
            <ul id="notifications">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% block content%}{% endblock %}
    </div>
</body>

</html>