{% extends "base.html"%} {% block content %}
<form method="POST" action="{% url 'create_notification' %}" class="event-form">
    {% csrf_token %}
    <div id="flex-container">
        <div>
            <div id="new-event">
                Ny notis
            </div>
            {{form.errors}}
                        <div id="flex-container-content-button">
                <div id="flex-container-content">
                    <div>
                        <div id="flex-container-content">
                            <div id="content">
                                Titel <br> {{ form.title }}
                            </div>
                            <div id="content">
                                Avsändare <br> {{ form.sender }}
                            </div>
                        </div>
                        <div id="flex-container-content-message">
                            Meddelande <br> {{ form.body }}
                        </div>
                    </div>
                    <div id="flex-container-content">
                        <div id="content">
                            Vilka <br> {{ form.who }}
                        </div>
                    </div>
                </div>
                <div>
                    <button onclick="return saveAlert()" id="submit-button" type="submit" class="save btn btn-default">
                        Skicka notis
                    </button>
                </div>
            </div>
        <div> 
    <div> 
</form>

<script>
function saveAlert() {
    message = 'Vill du skicka notisen?'
    return confirm(message)
}
</script>

{% endblock %}