{% load static %}

<head>
    <meta charset="UTF-8">
    <title>TD-app-admin</title>
    <link rel="icon" type="image/ico" href="{% static 'images/icon-logo.png' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navigation-bar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/ticket-system.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/create.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/card.css' %}">
    <script src="https://kit.fontawesome.com/5858a2c46f.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>