{% load static %}

<head>
    <meta charset="UTF-8">
    <title>TD-app-admin</title>
    <link rel="icon" type="image/ico" href="{% static 'images/icon-logo.png' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navigation-bar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/ticket-system.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/create_event.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>