{% if msg %}

<script>
    alert('{{msg}}')
</script>
{% endif %}

<div id="sidenav">
    <div class="flex-sideav">
        <div id="cross" onclick="closeSidebar(this)">
            x
        </div>
        <h1 id="header-sidenav">
            Inloggad som <br />
            {{request.user}}
        </h1>
    </div>
    
    {% for title,link in links.items %}
        {% if link in request.path %}
            <a class="active" href="{{link}}">{{title}}</a>
        {% else %}
            <a href="{{link}}">{{title}}</a>
        {%endif%}
    {% endfor %}
</div> 

<script>
    function openSidebar(x) {
        var sidenav = document.getElementById("sidenav");
        sidenav.style.display = "block";
        sidenav.style.position = "absolute"
        sidenav.style.width = "70%"
        sidenav.style.height = "100%"
    }
    function closeSidebar(x) {
        var sidenav = document.getElementById("sidenav");
        sidenav.style.display = "none";
    }
</script>