{% load block_tags %}
{% if msg %}

<script>
    alert('{{msg}}')
</script>
{% endif %} {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/navigation-bar.css' %}">

<div class="sidenav">
        <h1 id="#header-text">
        Inloggad som <br />
        {{request.user.first_name}} {{request.user.last_name}} 
        </h1>

        {% if 'start' in request.path%}
            <a class="active" href="start">Start</a>
            <a href="events">Events</a>
        {% elif 'events' in request.path%}
            <a href="start">Start</a>
            <a class="active" href="events">Events</a>
        {%endif%}
    
    </div>

{% comment %} <div class="sidenav">
    <h1 id="#header-text">
        är här {{request.path}} {{links}}
    </h1>
            {% for link in links%}
            {{link}}
                {% if link in request.path %}
                    <a class="active" href="{{link}}">Nåt annat</a>
                {% else %}
                    <a href="{{link}}">Nåt annat</a>
                {%endif%}
            {% endfor %} 
    
</div> {% endcomment %}