{% extends "base.html"%} {% block content %}
<header>
    Sektioner
</header>
<div class="flex-container">
    <a class="create-new" href="{% url 'create_section'  %}">
        <div class="plus">
            +
        </div>
        <div>
            Lägg till ny sektion
        </div>
    </a> {% for section in sections %}
    <div>
        <div class="event-name">
            {{section.sectionName}}
        </div>
        <div class="event-section">
            Långnamn: {{section.sectionFullName}}
        </div>
        <div class="buttons" id="sections-button">
            <div class="edit-button">
                <a onclick="return deleteAlert()" class="edit-link" href="{%url 'delete_section' section.firebase_id %}">
                            Ta bort
                    </a>
            </div>
            <div class="edit-button">
                <a class="edit-link" href="{% url 'edit_section' section.firebase_id %}"> 
                            Redigera
                        </a>
            </div>
        </div>
    </div>

    {% endfor %}
</div>

<script>
    function deleteAlert() {
        return confirm('Är du säker på att du vill ta bort sektionen?')
    }
</script> {%endblock%}