{% extends "base.html"%}

{% block content %}
    <h1 id="#header-text">
        Sections
    </h1>
    {% for section in sections %}
    <div class="all-events-boxes">
        <div class="curr-events">
            <div class="event-name">
                {{section.sectionName}}
            </div>
            <div class="event-section">
                långnamn: {{section.sectionFullName}}
            </div>
            <div class="edit-button">
                <a class="edit-link" href="{% url 'edit_section' section.firebase_id %}" > 
                    Redigera
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
{%endblock%}