{% if msg %}

<script>
    alert('{{msg}}')
</script>
{% endif %} {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/signIn.css' %}">

<html lang="en">

{% include "head.html" %}

<body>
    <header id="sign-in-header">
        <img id="TD-logo" src="{% static 'images/TD-logo.png' %}">
        <img id="arr-UTN-logo" src="{% static 'images/arr-UTN-logo.png' %}">
    </header>
    <div class="flex-container-sign-in">
        <div class="form-container">
            <h1 id="sign-in-h1">
                TD-app-admin
            </h1>
            <form action="/login/ " method="post">
                {% csrf_token %}
                <div class="input-container">

                    <div class="input-div">
                        Användarnamn:
                        <div id="username">
                            <input class="input" type="username" name="username">
                        </div>
                    </div>
                    <div class="input-div">
                        Lösenord:
                        <div id="password">
                            <input class="input" type="password" name="pass">
                        </div>
                    </div>
                </div>
                <div class="button-container">
                    <input id="login-button" type="submit" value="Logga in">
                </div>
            </form>
        </div>
    </div>

</body>

<!-- <body>
    <div>
        <img id="TD-logo" src="{% static 'images/TD-logo.png' %}">
    </div>
    <div>
        <img id="arr-UTN-logo" src="{% static 'images/arr-UTN-logo.png' %}">
    </div>
    <div id="form-box">
        <h1>
            TD-app-admin
        </h1>
        <form action="/login/ " method="post">
            {% csrf_token %}
            <div id="username-box">
                Användarnamn:
                <div id="username">
                    <input class="input" type="username" name="username">
                </div>
            </div>
            <div id="password-box">
                Lösenord:
                <div id="password">
                    <input class="input" type="password" name="pass">
                </div>
            </div>
            <div>
                <input id="login-button" type="submit" value="Logga in">
            </div>
        </form>
    </div>
</body> -->

</html>