{% if msg %}

<script>
    alert('{{msg}}')
</script>
{% endif %} {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sign</title>
</head>

<body>
    <div>
        <img id="TD-logo" src="{% static 'images/TD-logo.png' %}">
    </div>
    <div>
        <img id="arr-UTN-logo" src="{% static 'images/arr-UTN-logo.png' %}">
    </div>
    <div id="form-box">
        <h1 id="#header-text">
            TD-app-admin
        </h1>
        <form action="/postsign/ " method="post">
            {% csrf_token %}
            <div id="email-box">
                E-mail:
                <div id="email">
                    <input class="input" type="email" name="email">
                </div>
            </div>
            <div id="password-box">
                Lösenord:
                <div id="password">
                    <input class="input" type="password" name="pass">
                </div>
            </div>
            <div>
                <input id="login-button" type="submit" value="Logga in">
            </div>
        </form>
    </div>
</body>

</html>