{% extends "base.html" %}
{% block content %}
{% if msg %}
<script>
    alert('{{msg}}')
</script>
{% endif %} {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/signIn.css' %}">

<html lang="en">

<main class="flex-container-sign-in">
    <div class="form-container">
        <h1 id="sign-in-h1">
            Admin interface för TD-appen
        </h1>
        <form action="/login/" method="post">
            {% csrf_token %}
            <div class="input-container">

                <div class="input-div">
                    Användarnamn:
                    <div id="username">
                        <input class="input" type="username" name="username">
                    </div>
                </div>
                <div class="input-div">
                    Lösenord:
                    <div id="password">
                        <input class="input" type="password" name="pass">
                    </div>
                </div>
            </div>
            <div class="button-container">
                <input id="login-button" type="submit" value="Logga in">
            </div>
        </form>
    </div>
</main>

{% endblock %}



</html>