{% extends "base.html"%} {% block content %}{% csrf_token %}

<div id="header-text">
    Biljettsläpp
</div>

<a id="create-event" href="new-event/">
    Skapa nytt event
</a>

<div>
    Aktuella evenemang
</div>

{% for event in events%}
<div id="all-events-boxes">
    <div id="curr-events">
        <div id="event-name">
            {{event.name}}
        </div>
        <div id="event-link">
            Länk: {{event.form}}
        <div id="event-link">
            Tas bort: {{event.disappear}}
        </div>
        <div id="event-link">
            Datum & tid: {{event.release}}
        </div>
        <div id="event-link">
            Vilka: 
            {%for class in event.who%} 
            {{class}}, 
            {% endfor %}
        </div> 
        <div id="edit-button">
            <a id="edit-link" href="/ticket-system/edit-event/{{event.name}}" > 
                Redigera
            </a>
        </div>
    </div>
</div>
{% endfor %}

{%endblock%}