.card {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #342A3B;
    width: 16em;
    height: 17em;
    margin: 1em;
    padding: 1.5em;
    border-radius: 1.5em;
}

.card .title {
    color: #FF71FF;
    font-size: 2em;
    margin-top: 0;
    font-weight: normal;
}

.card .content {
    flex-grow: 1;
}

.card .buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
}

.card .button {
    background-color: #FF71FF;
    width: 6em;
    height: 2em;
    border-radius: 0.6em;
    margin-top: .6em;
    text-decoration: none;
    color: white;
}

#add {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    order: -1;
}

#event {
    min-height: 23em;
}

#add-event {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    order: -1;
    height: 23em;
}