body {
    font-family: 'Inter';
}

h1 {
    background-color: #342A3B;
    color: white;
    font-size: 1em;
    text-align: center;
    height: 5em;
    margin-top: 0em;
    padding-top: 1em;
}

.main {
    margin-left: 15em;
    /* Same as the width of the sidebar */
    padding: 0px 10px;
}

#notifications {
    list-style-type: none;
    background-color: lightblue;
    padding: 1em 2em;
    text-align: center;
    margin: 0;
    margin-bottom: 1em;
}