#flex-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 7em;
}

@media only screen and (min-width: 600px) {
    #flex-container {
        display: flex;
        flex-wrap: wrap;
        align-items: left;
        justify-content: left;
        padding-top: 0em;
    }
}

#flex-container-content {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

#flex-container-content-message {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    flex-direction: column;
    color: white;
    background-color: #342A3B;
    padding: 1em;
    border-radius: 1.5em;
}

#flex-container-content-button {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    flex-direction: column;
    padding: 1em;
}

#flex-container-content>* {
    color: white;
    background-color: #342A3B;
    padding: 1em;
    border-radius: 1.5em;
}

#flex-container>* {
    color: white;
    background-color: #342A3B;
    margin: 1em;
    border-radius: 1.5em;
}

#new-event {
    font-size: 2em;
    color: #FF71FF;
    padding: 1em;
    border-radius: 1em;
}

#submit-button {
    background-color: #FF71FF;
    color: white;
    border-radius: 0.4em;
    border-color: #FF71FF;
    font-size: 1.3em;
    margin-bottom: 1em;
    margin-right: 1em;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    flex-grow: 1;
}

#id_name {
    height: 3em;
}

#id_release {
    height: 3em;
}

#id_form {
    height: 3em;
}

#id_disappear {
    height: 3em;
}

#id_who {
    list-style-type: none;
    padding-left: 0em;
}

#id_body {
    height: 15em;
}

input[type=text] {
    border: 3px solid white;
    border-radius: 4px;
}

input[type=text]:focus {
    border-radius: 4px;
    border: 3px solid #555;
}

input[type=datetime-local] {
    border: 3px solid white;
    border-radius: 4px;
}

input[type=datetime-local]:focus {
    border: 3px solid #555;
}