@import url('https://rsms.me/inter/inter.css');
#sidenav {
    display: none;
    background-color: #342A3B;
    padding: 2em;
    padding-top: 0em;
    z-index: 2;
}

#header-sidenav {
    font-size: 1.3em;
}

.flex-sidenav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#cross {
    color: white;
    font-size: 4em;
}

@media only screen and (min-width: 600px) {
    #sidenav {
        display: block;
        padding-top: 2em;
    }
    #cross {
        display: none;
    }
}

.active {
    color: #FF71FF !important;
}

#sidenav a {
    text-decoration: none;
    font-size: 1.5em;
    color: white;
    display: block;
}

#sidenav a:hover {
    color: #FF71FF;
}