@import url('https://rsms.me/inter/inter.css');
body {
    font-family: 'Inter';
}

h1 {
    background-color: white;
    font-size: 1em;
    text-align: center;
    height: 5em;
    margin-top: 0em;
    padding-top: 1em;
}

.active {
    color: #FF71FF !important;
}

.sidenav {
    height: 100%;
    width: 15em;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #342A3B;
    overflow-x: hidden;
    padding-top: 2em;
}

.sidenav a {
    padding: 0.3em 0.3em 0.3em 1em;
    text-decoration: none;
    font-size: 1.5em;
    color: white;
    display: block;
}

.sidenav a:hover {
    color: #FF71FF;
}


/* Style page content */

.main {
    margin-left: 160px;
    /* Same as the width of the sidebar */
    padding: 0px 10px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}