@import url('https://rsms.me/inter/inter.css');
body {
    background-image: url(../images/stars.png);
    background-size: 100%;
    color: #FF71FF;
    font-family: 'Inter';
}

#sign-in-header {
    background-color: transparent !important;
    margin: 0.5em;
    padding: 0em !important;
    flex-direction: column;
}

#TD-logo {
    width: 60%;
}

#arr-UTN-logo {
    margin-top: 0.5em;
    width: 40%;
}

#sign-in-h1 {
    margin-bottom: 2em;
    color: #FF71FF;
    font-size: 1.3em;
}

.flex-container-sign-in {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.form-container {
    display: flex;
    align-self: center;
    flex-direction: column;
    color: white;
    background-color: #342A3B;
    font-size: 1em;
    padding: 1.5em;
    border-radius: 1.5em;
}

.input-div {
    padding-bottom: 1em;
}

.input {
    width: 20em;
    height: 3em;
}

.button-container {
    display: flex;
    align-self: flex-end;
    padding-top: 1em;
}

#login-button {
    background-color: #FF71FF;
    width: 6em;
    height: 2em;
    font-size: 1em;
    border-radius: 0.6em;
    text-decoration: none;
    color: white;
    justify-self: flex-end;
}

@media only screen and (min-width: 600px) {
    #sign-in-header {
        background-color: transparent !important;
        padding: 0em !important;
        position: fixed !important;
    }
    .login-container {
        font-size: 2em;
    }
    #TD-logo {
        width: 25%;
    }
    #arr-UTN-logo {
        margin-top: 0.5em;
        width: 15%;
    }
}