.fa-bars:before {
    display: inline-block;
    cursor: pointer;
    padding-right: 0.5em;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 0em;
    align-items: center;
}

@media only screen and (min-width: 600px) {
    .flex-container {
        flex-direction: row;
        align-items: stretch;
    }
    .bar {
        display: none;
    }
}

.plus {
    font-size: 6em;
}