.container {
    display: inline-block;
    cursor: pointer;
}

.bar {
    width: 1.2em;
    height: 0.15em;
    background-color: white;
    margin: 0.2em 0;
    transition: 0.4s;
    margin-right: 1em;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 7em;
}

@media only screen and (min-width: 600px) {
    .flex-container {
        align-items: left;
        justify-content: left;
        padding-top: 0em;
    }
    header {
        position: relative;
    }
    .bar {
        display: none;
    }
}

.plus {
    font-size: 6em;
}